{
  "extends": "./node_modules/gts",
  "env": {
    "jest": true,
    "node": true
  },
  "ignorePatterns": [
    "node_modules/",
    "build/",
    "migrations/"
  ],
  "rules": {
    "no-any": "off",
    "no-warning-comments": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "node/no-missing-require": "off",
    "no-unused-vars": "off"
  }
}
